/* Import global styles and customizations */
@import './styles/globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrolling text animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}